<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>10</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>9</string>
							<key>Timestamp</key>
							<string>741089352.870187</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>GHFollowers/Screens/UserInfoVC.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>// see notes 24a &amp; 24b in app delegate
</string>
						<key>leading</key>
						<string>import UIKit

</string>
						<key>trailing</key>
						<string>protocol UserInfoVCDelegate: AnyObject {
    func didRequestFollowers(for username: String)
}
</string>
					</dict>
					<key>title</key>
					<string>finish .fitToSize for SE screen</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>29</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>28</string>
							<key>Timestamp</key>
							<string>741094684.738432</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>GHFollowers/CustomViews/Cells/FavoriteCell.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>        // see note 22 in app delegate
</string>
						<key>leading</key>
						<string>    func set(favorite: Follower) {
        usernameLabel.text = favorite.login
</string>
						<key>trailing</key>
						<string>        avatarImageView.image = Images.placeholder
        avatarImageView.downloadImage(fromURL: favorite.avatarUrl)
    }
</string>
					</dict>
					<key>title</key>
					<string>favorite cell displaying wrong pics on first appearance</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>353</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>352</string>
							<key>Timestamp</key>
							<string>741924997.227921</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>GHFollowers/Support/AppDelegate.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string> *  RETURN TO: revisit  iOS 15 - 17 update vids
</string>
						<key>leading</key>
						<string>    &gt; best to load the API's info before calling this so the 'cell.count' &amp; 'cellForRowAt' info is accurate
 
</string>
						<key>trailing</key>
						<string>    &gt; barring 1st vids for 15 &amp; 17
 

</string>
					</dict>
					<key>title</key>
					<string>revisit  iOS 15 - 17 update vids</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>return to</string>
			<key>type</key>
			<string>group</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>253</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>252</string>
							<key>Timestamp</key>
							<string>769804578.303508</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>GHFollowers/Screens/FollowerListVC.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>    func searchBar(_ searchBar: UISearchBar, textDidChange searchText: String) {
</string>
						<key>leading</key>
						<string>    
    
</string>
						<key>trailing</key>
						<string>        if searchText == "" {
            // see note 19 in app delegate
            searchBar.resignFirstResponder()
</string>
					</dict>
					<key>title</key>
					<string>make a search bar</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>253</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>252</string>
							<key>Timestamp</key>
							<string>769804578.303565</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>GHFollowers/Screens/FollowerListVC.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>    func searchBar(_ searchBar: UISearchBar, textDidChange searchText: String) {
</string>
						<key>leading</key>
						<string>    
    
</string>
						<key>trailing</key>
						<string>        if searchText == "" {
            // see note 19 in app delegate
            searchBar.resignFirstResponder()
</string>
					</dict>
					<key>title</key>
					<string>using commas in vars (both must pass)</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>18</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>17</string>
							<key>Timestamp</key>
							<string>763984222.117522</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>GHFollowers/Models/Follower.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>    func hash(into hasher: inout Hasher) {
</string>
						<key>leading</key>
						<string>    
    // this hasher turns the login into a UUID for the diffable datasource
</string>
						<key>trailing</key>
						<string>        hasher.combine(login)
    }
}
</string>
					</dict>
					<key>title</key>
					<string>diffable datasource hasher / login gets turned into UUID </string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>116</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>115</string>
							<key>Timestamp</key>
							<string>741925068.014212</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>GHFollowers/Screens/FollowerListVC.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>                updateUI(with: followers)
</string>
						<key>leading</key>
						<string>            // see note 2 in app delegate
            case .success(let followers):
</string>
						<key>trailing</key>
						<string>                
            case .failure(let error):
                self.presentGFAlertOnMainThread(alertTitle: "Bad Stuff Happened", message: error.rawValue, buttonTitle: "Ok")
</string>
					</dict>
					<key>title</key>
					<string>weak self &amp; DispatchQueue</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>31</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>30</string>
							<key>Timestamp</key>
							<string>741091685.0594209</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>GHFollowers/Extensions/UIViewController+Ext.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>    // MARK: SOLVE FOR KEYBOARD BLOCKING TEXTFIELD
</string>
						<key>leading</key>
						<string>    
    
</string>
						<key>trailing</key>
						<string>    func setupKeyboardHiding() {
        NotificationCenter.default.addObserver(self, selector: #selector(keyboardWillShow), name: UIResponder.keyboardWillShowNotification, object: nil)
        
</string>
					</dict>
					<key>title</key>
					<string>solve for keyboard hiding / blocking field</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>for reference</string>
			<key>type</key>
			<string>group</string>
		</dict>
	</array>
</dict>
</plist>
